@font-face {
  font-family: "Cinzel decorative";
  src: url('../fonts/Cinzel_Decorative/CinzelDecorative-Regular.woff2') format('woff2'),
       url('../fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/static/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Medieval sharp";
  src: url(../fonts/MedievalSharp/MedievalSharp-Regular.ttf);
}
$font_title_primary:'Cinzel decorative',sans-serif;
$font_subtitle_primary:'Medieval sharp',sans-serif;
$font_text_primary:'Roboto',sans-serif;
$size_title_primary: 24px;
$size_subtitle_primary: 18px;
$size_text_primary: 14px;

:root{
  --font_title_primary: #{$font_title_primary};
  --font_subtitle_primary: #{$font_subtitle_primary};
  --font_text_primary: #{$font_text_primary};
  --size_title_primary: #{$size_title_primary};
  --size_subtitle_primary: #{$size_subtitle_primary};
  --size_text_primary: #{$size_text_primary};

}
p{
  font-family: $font_text_primary;
  font-size: $size_text_primary;
}
h1{
  font-family: $font_title_primary;
  font-size: $size_title_primary;
}
h2,h3,h4,h5,h6{
  font-family: $font_subtitle_primary;
  font-size: $size_subtitle_primary;
}
