// Variable de style
// Font
$font_title: "Cinzel Decorative", serif;
$font_subtitle: 'MedievalSharp', cursive;
$font_main: 'Roboto', sans-serif;
// Color
$main_blue : #25324B;
$main_white : #D9D9D9;


